.Weather {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 75%);
}

.Weather .current {
  margin: 24px;
}

.Weather .current .current-temp {
  display: flex;
  align-items: center;
}
.Weather .current .value {
  font-size: 64px;
}
.Weather .current .wi {
  font-size: 32px;
  margin-left: 12px;
}
.Weather .current .info {
  font-size: 12px;
  opacity: 0.8;
}

.Weather .forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Weather .forecast-block {
  padding: 24px;
  text-align: center;
}

.Weather .forecast-block .forecast-day {
  font-size: 12px;
  font-weight: bold;
}

.Weather .forecast-block .forecast-temps {
  width: 100%;
}

.Weather .forecast-block .wi {
  font-size: 32px;
  padding: 10px;
}

@media (max-width: 1024px) {
  .Weather .forecast-block {
    padding: 12px 5px;
  }
}

@media (max-width: 480px) {
  .Weather .forecast-block .forecast-temps {
    font-size: 12px;
  }
  .Weather .forecast-block .forecast-temps > span {
    display: block;
  }
  .Weather .forecast-block .forecast-temps .slash {
    display: none;
  }
  .Weather .forecast-block .wi {
    font-size: 12px;
    padding: 0;
  }
}

/* weather icons */

.wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wi-fw {
  text-align: center;
  width: 1.4em;
}
.wi-yahoo-0:before {
  content: "\f056";
}
.wi-yahoo-1:before {
  content: "\f00e";
}
.wi-yahoo-2:before {
  content: "\f073";
}
.wi-yahoo-3:before {
  content: "\f01e";
}
.wi-yahoo-4:before {
  content: "\f01e";
}
.wi-yahoo-5:before {
  content: "\f017";
}
.wi-yahoo-6:before {
  content: "\f017";
}
.wi-yahoo-7:before {
  content: "\f017";
}
.wi-yahoo-8:before {
  content: "\f015";
}
.wi-yahoo-9:before {
  content: "\f01a";
}
.wi-yahoo-10:before {
  content: "\f015";
}
.wi-yahoo-11:before {
  content: "\f01a";
}
.wi-yahoo-12:before {
  content: "\f01a";
}
.wi-yahoo-13:before {
  content: "\f01b";
}
.wi-yahoo-14:before {
  content: "\f00a";
}
.wi-yahoo-15:before {
  content: "\f064";
}
.wi-yahoo-16:before {
  content: "\f01b";
}
.wi-yahoo-17:before {
  content: "\f015";
}
.wi-yahoo-18:before {
  content: "\f017";
}
.wi-yahoo-19:before {
  content: "\f063";
}
.wi-yahoo-20:before {
  content: "\f014";
}
.wi-yahoo-21:before {
  content: "\f021";
}
.wi-yahoo-22:before {
  content: "\f062";
}
.wi-yahoo-23:before {
  content: "\f050";
}
.wi-yahoo-24:before {
  content: "\f050";
}
.wi-yahoo-25:before {
  content: "\f076";
}
.wi-yahoo-26:before {
  content: "\f013";
}
.wi-yahoo-27:before {
  content: "\f031";
}
.wi-yahoo-28:before {
  content: "\f002";
}
.wi-yahoo-29:before {
  content: "\f031";
}
.wi-yahoo-30:before {
  content: "\f002";
}
.wi-yahoo-31:before {
  content: "\f02e";
}
.wi-yahoo-32:before {
  content: "\f00d";
}
.wi-yahoo-33:before {
  content: "\f083";
}
.wi-yahoo-34:before {
  content: "\f00c";
}
.wi-yahoo-35:before {
  content: "\f017";
}
.wi-yahoo-36:before {
  content: "\f072";
}
.wi-yahoo-37:before {
  content: "\f00e";
}
.wi-yahoo-38:before {
  content: "\f00e";
}
.wi-yahoo-39:before {
  content: "\f00e";
}
.wi-yahoo-40:before {
  content: "\f01a";
}
.wi-yahoo-41:before {
  content: "\f064";
}
.wi-yahoo-42:before {
  content: "\f01b";
}
.wi-yahoo-43:before {
  content: "\f064";
}
.wi-yahoo-44:before {
  content: "\f00c";
}
.wi-yahoo-45:before {
  content: "\f00e";
}
.wi-yahoo-46:before {
  content: "\f01b";
}
.wi-yahoo-47:before {
  content: "\f00e";
}
.wi-yahoo-3200:before {
  content: "\f077";
}